{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Posts
{% endblock title %}

{% block content %}

    {% if posts %}

        <table width="80%">

            {% for post in posts %}
            <tr>
                <td>
                <p>Заголовок</p>
                </td>
                <td>
                <p>{{post.title|censor}}</p>
                </td>
            </tr>
            <tr>
                <td>
                <p>Дата публикации</p>
                </td>
                <td>
                <p>{{ post.dateCreation|date:"d M Y" }}</p>
                </td>
            </tr>
            <tr>
                <td>
                <p>Текст</p>
                </td>
                <td>
                <p>{{ post.text|truncatewords:20|censor}}</p>
                    <p align="right"> <a href="{{ page_obj.number }}">Читать полность...</a></p>
                </td>
            </tr>
             {% endfor %}
        </table>
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
       {% if page_obj.has_previous %}
       <a href="?page=1">&laquo; first</a>
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>

   {% endif %}

{% endif %}

    {% else %}
    <h2>Нет публикаций</h2>
    {% endif %}
{% endblock content %}