{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}


{% block content %}
<table width="80%">
            <tr>
                <td>
                <p>Категории</p>
                </td>
                <td align="left">
                    {% for category in post.postCategory.all %}
                        {{ category }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <p>Автор</p>
                </td>
                <td align="left">
                {{ post.author.authorUser }}
                </td>
            </tr>
            <tr>
                <td>
                <p>Заголовок</p>
                </td>
                <td align="left">
                {{post.title|censor}}
                </td>
            </tr>
            <tr>
                <td>
                <p>Дата публикации</p>
                </td>
                <td align="left">
                {{ post.dateCreation|date:"d M Y H:m" }}
                </td>
            </tr>
            <tr>
                <td>
                <p>Тест</p>
                </td>
                <td align="left">
                {{ post.text|censor}}
                </td>
            </tr>
        </table>
{% if subscribe_status %}
    <button> <a href="unsubscribe/"> >Unsubscribe< </a> </button>
    {% else %}
    <button> <a href="subscribe/"> >Subscribe< </a> </button>
    {% endif %}
{% endblock content %}